
<?xml version="1.0"?>
<model>
    <name>pole by Arseni(i, y, j)</name>
    <version>1.0</version>
    <sdf version="1.6">aruco_model.sdf</sdf>
    <author>
        <name>Mr. Q'rcode</name>
        <email>amogus</email>
    </author>
    <description>
        Just Qrcode
    </description>
</model>
